<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/encode.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p> <%= title %></p>
    <% if(recs){ %>
	<ul>
	  <% for(var r in recs) { %>
		<% //console.log(recs[r]); %>
		<li> 
		<% if(recs[r].smallImageUrls){ %>
			<img src=<%=recs[r].smallImageUrls[0]%> />
			<% // if(recs[r].uid) %>
			<a href= <%='/recipe/view?rid='+ encodeURI(recs[r].id) %>   ><%= recs[r].recipeName %></a>
		<% } else { %>
			<%= recs[r].recipeName %>
		<% } %>
		 </li>
     	<% }%>
	</ul>
	<% if(query){ %>
		<%= "dbstart:" + query.dbstart %>
		<%= "nextstart:" + query.nextstart %>
		<%= "start:" + query.start %>
		<% query.dbstart += query.nextstart; %>
		<% query.start = query.nextstart; delete query.nextstart %>
		<% var querystring = JSON.stringify(query); %>
	<form method="get" action="/formreq">
		<input type="hidden" name="savedquery" value=<%=querystring%> >
		<input type="submit" value="Next Page">
	<% } %>
    <% } %>
 </body>
</html>
