<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title>Profile - Cook UPs</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Portfolio CSS -->
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">	
		<!-- Custom Less -->
		<link href="css/less-style.css" rel="stylesheet">	
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<!--[if IE]><link rel="stylesheet" href="css/ie-style.css"><![endif]-->
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	
		


<body>

		<div>

		<div>
		
	 <script>
 //    var counter = 1;
 //    var limit = 1;
    
 //    function addInput(divName, elementName){
 //      if (counter == limit)  {
 //          //alert("You have reached the limit of adding "  counter  " inputs");
          
 //          var query = client.query('SELECT * FROM users');
 //    query.on('row', function(row) {
 //      alert('user old');
 //      }
 //      alert("missed");
 //    });
          
 //      }
 //      else {
 //         // var newdiv = document.createElement('div');
 //         var newdiv = document.getElementById(elementName).cloneNode(true);
 //          document.getElementById(divName).appendChild(newdiv);
 //          counter;
 //      }
 //    }
 //  </script>
		
		
		<script>
    var counter = 1;
    var limit = 1;
    // var search_url="";
    // var id_string= "_app_id=4667a454";
    // var key_string="_app_key=19e631ca5cc3f554227ff9ee8bc5c753";
    // var id_key=id_string"&"key_string;
    // var base_url="http://api.yummly.com/v1/api/recipes?"id_key;
    // var search_variables="";
    function addInput(divName, elementName){
      if (counter == limit)  {
          alert("You have reached the limit of adding "  counter  " inputs");
      }
      else {
         // var newdiv = document.createElement('div');
      //    var newdiv = document.getElementById(elementName).cloneNode(true);
      //     document.getElementById(divName).appendChild(newdiv);
      //     counter;
      // }
    }
    </script>
			
		<!-- Page Wrapper -->
		<div class="wrapper">
		
			<!-- Header Start -->
			
			<div class="header">
				<div class="container">
					<!-- Header top area content -->	
					<div class="header-top">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								
							</div>
							<div class="col-md-4 col-sm-4">
								
							</div>
							<div class="col-md-4 col-sm-4">
					
								<div class="clearfix"></div>
							</div>
						</div>
					</div>				
					<div class="row">
						<div class="col-md-4 col-sm-5">
							<!-- Link -->
							<a href="/">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.png" alt="" />
									<!-- Heading -->
									<h1>CookUps</h1>
									<!-- Paragraph -->
									<p>Food made easy.</p>
								</div>
							</a>
						</div>
						<div class="col-md-8 col-sm-7">
							<!-- Navigation -->
							<nav class="navbar navbar-default navbar-right" role="navigation">
								<div class="container-fluid">
									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
											<li><a href="/"><img src="img/nav-menu/nav1.jpg" class="img-responsive" alt="" /> Home</a></li>
											
											<li><a href="form"><img src="img/nav-menu/nav3.jpg" class="img-responsive" alt="" />Search</a></li>

											<li><a href="profile"><img src="img/nav-menu/nav2.jpg" class="img-responsive" alt="" /> Edit Profile</a></li>
												<ul class="dropdown-menu">
													<li><a href="items.html">Profile Home</a></li>
													<li><a href="item-single.html">Add Recipe</a></li>
													<li><a href="checkout.html">History</a></li>
													<li><a href="reserve-seats.html">Diet Track</a></li>
												</ul>
											</li>
											
											<li><a href="about"><img src="img/nav-menu/nav6.jpg" class="img-responsive" alt="" /> About</a></li>
											
										</ul>
									</div><!-- /.navbar-collapse -->
								</div><!-- /.container-fluid -->
							</nav>
						</div>
					</div>
				</div> <!-- / .container -->
			</div>
			
			<!-- Header End -->
			
			<!-- Banner Start -->
			
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<img class="img-responsive" src="img/crown-white.png" alt="" />
					<!-- Heading -->
					<h2 class="white">Profile Page</h2>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Contact</li>
					</ol>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Banner End -->
			
			
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Contact Us Start -->
				
				<div class="contactus">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<!-- Map holder -->
								<div class="map-container">
									<!-- profile picture image should be here-->
								</div>
							</div>
							<div class="col-md-6">
								<!-- Contact form -->
								<div class="contact-form">
									<!-- Heading -->
									<h3>Personal Information</h3>
									<!-- Form -->
									<form role="form">
										<div class="form-group">
											<!-- Form input -->
											<input class="form-control" type="text" placeholder="Name" value="<%=user.uname%>"/>
										</div>
										<div class="form-group">
											<!-- Form input -->
											<input class="form-control" type="email" placeholder="Email" />
										</div>
										<div class="form-group">
											<!-- Form text area -->
											<textarea class="form-control" rows="3" placeholder="Message..."></textarea>
										</div>
										<!-- Form button -->
									</form>
								</div><!--/ Contact form end -->
							</div>
							
						</div>
					</div>
				</div>
			
							<!-- Inner Content -->
				
				
				
				
				
				<div class="inner-page padd">
							
								<!-- Inner page menu start -->
				<div class="inner-menu">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-6">

							</div>
							<div class="col-md-4 col-sm-6">
								<div class="menu-list">
									<center><h3>Added Recipe</h3></center>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
									  Add Recipe
									</button>

									    <!-- Modal -->
									<div class="modal fade bs-example-modal-lg" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-lg">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									        <h4 class="modal-title" id="myModalLabel">Add Recipe</h4>
									      </div>
									      <div class="modal-body">
									       <!--  <center>
									          <form method="post" action="/user/auth" class="form-signin" role="form">
									            <br>
									              <label for="inputEmail" class="sr-only">Username</label>
									                <input type="username" id="inputEmail" class="form-control" placeholder="Username" name="uname" required autofocus>
									        
									              <label for="inputPassword" class="sr-only">Password</label>
									                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required> <br>

									              <button class="btn btn-default">Add</button>
									        </form>

									        </center> -->
									        <div class="recipe-content">
							<!-- Recipe Name / Heading -->
							<h4>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Recipe Name" />
								</div>
							</h4>
							<br>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="recipe-item">
										<!-- Recipe ingredients -->
										<div class="container">
										    <div class="row clearfix">
											    <div class="col-md-4 col-sm-6">
											    	<h5>Ingredients :</h5>
											      <table class="table table-bordered table-hover" id="tab_logic">
											        <thead>
											          <tr >
											            <th class="text-center">
											              Name
											            </th>
											            <th class="text-center">
											              Amount
											            </th>
											          </tr>
											        </thead>
											        <tbody>
											          	<tr id='addr0'>
												            <td>
												            	<center>
												            		<input style="height:25px; width:100px;" type="text" name='name0'  placeholder='Ingredient' class="form-control"/>
												            	</center>
												            </td>
												            <td>
												            	<center>
												            		<input style="height:25px; width:100px;" type="text" name='amount0' placeholder='~ Amount' class="form-control"/>
												            	</center>
												            </td>
											          	</tr>
											          	<tr id='addr1'>
												          	<td>
												          		<center>
												            		<input style="height:25px; width:100px;" type="text" name='name1'  placeholder='Ingredient' class="form-control"/>
												            	</center>
												            </td>
												            <td>
												            	<center>
												            		<input style="height:25px; width:100px;" type="text" name='amount1' placeholder='~ Amount' class="form-control"/>
												           	 	</center>
												            </td>
											           	</tr>
											           	<tr id='addr2'>
											           		<td>
											          			<center>
											            			<input style="height:25px; width:100px;" type="text" name='name2'  placeholder='Ingredient' class="form-control"/>
											            		</center>
											            	</td>
											            	<td>
											            		<center>
											            			<input style="height:25px; width:100px;" type="text" name='amount2' placeholder='~ Amount' class="form-control"/>
											           	 		</center>
											            	</td>
											           </tr>
											           <tr id='addr3'>
											           </tr>
											        </tbody>
											      </table>
											     
											    </div>
											</div>
										  <script type="text/javascript">
										    $(document).ready(function(){
										      var i=3;
										      $("#add_row").click(function(){
										        $('#addr'i).html("<td><center><input name='name"i"' type='text' placeholder='Ingredient' style='height:25px; width:100px;' class='form-control input-md'  /> </center></td><td><center><input  name='amount"i"' style='height:25px; width:100px;' type='text' placeholder='~ Amount'  class='form-control input-md'></center></td>");
										        $('#tab_logic').append('<tr id="addr'(i1)'"></tr>');
										        i; 
										      });
										     
										      $("#delete_row").click(function(){
										        if(i>1){
										          $("#addr"(i-1)).html('');
										          i--;
										        }
										      });

										    });
										    </script>
										    	<a id="add_row" class="btn btn-default">Add</a>
										    	<a id='delete_row' class="btn btn-default">Remove</a>
											</div>
											<br>
											<br>
										</div>
									<br>
									<div class="recipe-item">
										<div class="fileinput fileinput-new" data-provides="fileinput">
  											 <div class="fileinput-new thumbnail" style="width: 400px; height: 300px;"> 
	    										<div>
	    											Upload an image
	    										</div>
 										 	</div>
  											<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 300px;"></div>
  											<div>
    											<span class="btn btn-default btn-file"><span class="fileinput-new">Upload</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
    											<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  											</div>
										</div>
									</div>
								</div>
					
								<div class="col-md-6 col-sm-12">
									<!-- Recipe Items -->
									<div class="recipe-item">
										<!-- Heading -->
										<h5>Directions :</h5>
										<!-- Recipe Description -->
										<div class="recipe-description">
											<div class="form-group">
												<textarea class="form-control" rows="10"></textarea> 
											</div>
											<!-- Heading -->
											
											<h5>Nutrition Info:</h5>
											<!-- Recipe nutrition table -->
											<div class="table-responsive">
												<table class="table table-bordered">
													<tbody>
														<tr>
															<td>
																<center>
																	Calories
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="~ Amount" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Servings
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="~ Amount" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Time To Cook
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="~ Amount" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Sweet
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="Yes or No" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Salty
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="Yes or No" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Bitter
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="Yes or No" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Sour
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="Yes or No" />
																</center>
															</td>
														</tr>
														<tr>
															<td>
																<center>
																	Meaty
																</center>
															</td>
															<td>
																<center>
																	<input style="height:25px; width:100px;" class="form-control" type="text" placeholder="Yes or No" />
																</center>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>





									      </div>
									      <br>
									        <div class="modal-footer">
									        	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#">Add</button>
									      	</div>
									    </div>
									  </div>
									</div>
							</div>
						</div>
					</div>
				</div>
				
				</div>
    
    </div>
			
			<!-- Inner Content -->


		<div id="section">

		</div>

		<div id="test1">

		</div>
		
		<div id="test2">

		</div>
		
		<div id="test3">

		</div>


			<div id="recipeDiv">
			<h3>text</h3>
			</div>

			
			<div class="inner-page padd">
				
				<!-- Shopping Start -->



				<% if (user) { %>
    <h2><%= user.name %></h2>
<% } %>


				
 

					
			





					<script>
						var section = document.getElementById('section');
						var index = 0;
					</script>


					<%if(recipes) { %>
					<% recipes.forEach(function(item) {  %>
					<script>
					var item = <%- JSON.stringify(item) %>

						console.log("RID "+ item.rid);
						
						
						
						var recipeDiv = document.getElementById('recipeDiv').cloneNode(true);
							recipeDiv.setAttribute("id", item.rid);
						// var h3_tag = recipeDiv.getElementByTagName('h3')[0];
						// 	h3_tag.innerHTML = item.name;
							section.appendChild(recipeDiv);	
							index++;
							console.log("Index Value "+index);
						


					</script>
					<%}); %>

					<% } %>  


		<% recipes.forEach(function(item) {  %>
		<!-- <div>Recipe <%= item.name %></div> -->
			<div class="inner-page padd" >
				
				<!-- Shopping Start -->
				
				<div class="shopping">
					<div class="container">
						<!-- Shopping items content -->
						<div class="shopping-content">
							<div class="row">
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
									
									        		
									        	
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop1.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html"><div><%= item.name %></div></a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								

			<% }); %>
     </div>

				
				<div class="shopping">
					<div class="container">
						<!-- Shopping items content -->
						<div class="shopping-content">
							<div class="row">
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop1.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #1 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop2.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #2 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop3.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #3 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop4.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #4 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop5.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #5 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop6.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #6 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop7.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #7 Title</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop8.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #8 Title</a></h4>
										</div>
										<div class="clearfix"></div>
										
									</div>
								</div>
							</div>
							<!-- Pagination -->
							<div class="shopping-pagination">
								<ul class="pagination">
									<li class="disabled"><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
							<!-- Pagination end-->
						</div>
					</div>
				</div>

			<!-- Footer Start -->
			
			<div class="footer padd">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.png" alt="" />
									<!-- Heading -->
									<h1>CakeFactory</h1>
								</div>
								<!-- Paragraph -->
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								<hr />
							</div> 
						</div>
						<div class="col-md-3 col-sm-6">
						</div> 
						<div class="clearfix visible-sm"></div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Join Us Today</h4>
								<!-- Paragraph -->
								<p>There is no one who loves pain itself, who seeks after it and wants to have it.</p>
								<!-- Subscribe form -->
								<form role="form">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Your name" />
									</div>
									<div class="form-group">
										<input class="form-control" type="email" placeholder="Your email" />
									</div>
									<button class="btn btn-danger" type="button">Subscribe</button>
								</form>
							</div> <!--/ Footer widget end -->
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Contact Us</h4>
								<div class="contact-details">
									<!-- Address / Icon -->
									<i class="fa fa-map-marker br-red"></i> <span>#768, 5th floor, N S Building,<br />Csm Block, Park Road,<br /> Bangalore - 234567</span>
									<div class="clearfix"></div>
									<!-- Contact Number / Icon -->
									<i class="fa fa-phone br-green"></i> <span>91 88-88-888888</span>
									<div class="clearfix"></div>
									<!-- Email / Icon -->
									<i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">abc@example.com</a></span>
									<div class="clearfix"></div>
								</div>
								<!-- Social media icon -->
								<div class="social">
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div> <!--/ Footer widget end -->
						</div>
					</div>
					<!-- Copyright -->
					<div class="footer-copyright">
						<!-- Paragraph -->
						<p>&copy; Copyright 2014 <a href="#">CookUps</a></p>
					</div>
				</div>
			</div>
			
			<!-- Footer End -->
			
		</div><!-- / Wrapper End -->
		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jasny-bootstrap.min.js"></script>
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Pretty Photo JS -->
		<script src="js/jquery.prettyPhoto.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<!-- JS code for this page -->
		<script>
		
		</script>
	</body>	
</html>
