<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Title here -->

		<title><%=title %></title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
		<link href="css/settings.css" rel="stylesheet">		
		<!-- FlexSlider Css -->
		<link rel="stylesheet" href="css/flexslider.css" media="screen" />
		<!-- Portfolio CSS -->
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">	
		<!-- Custom Less -->
		<link href="css/less-style.css" rel="stylesheet">	
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<!--[if IE]><link rel="stylesheet" href="css/ie-style.css"><![endif]-->

		
		<!-- Favicon -->
		<link rel="icon" type="image/ico" href="img/fav.ico"/>
	</head>
	
	<body>
	
		
		<!-- Page Wrapper -->
		<div class="wrapper">
		
			<!-- Header Start -->
			
			<div class="header">
				<div class="container">
					<!-- Header top area content -->
					
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-5">
							<!-- Link -->
							<a href="/">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.png" alt="" />
									<!-- Heading -->
									<h1>CookUps</h1>
									<!-- Paragraph -->
									<p>Cooking made Easy!</p>
								</div>
							</a>
							<div id = "woopydoopyloopyloo"></div>
							<!--<script> 
							if(typeof(Storage) !== "undefined") {
    // Code for localStorage/sessionStorage.

    if(localStorage.getItem("userName") === null){

    }else{
    	 document.getElementById("woopydoopyloopyloo").innerHTML = localStorage.getItem("lastname");

    }
 } else {
    // Sorry! No Web Storage support..
}


							 </script> -->
						</div>
						<div class="col-md-8 col-sm-7">
							<!-- Navigation -->
							<nav class="navbar navbar-default navbar-right" role="navigation">
								<div class="container-fluid">
									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
									
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">


											
										    
											
											
											<body>
											<li><a href="/"><img src="img/nav-menu/nav1.jpg" class="img-responsive" alt="" /> Home</a></li>
											
											<li><a href="/form"><img src="img/nav-menu/nav3.jpg" class="img-responsive" alt="" />Search</a></li>


											<!--<% if(!user) { %>

											<input type="image" id = "proofile" src="img/put it in.png"   data-toggle="modal" data-target="#login" alt=""/>
											

											<% } %>-->

											<% if(user) { %>

											<li><a href="/viewProfile"><img src=<%=user.picture %> onError="this.onerror=null;this.src='img/squaredefault.png';" class="img-responsive" alt="" /><%= user.uname %></a></li>
								
											<% } %>




			
			

											
											
											
<!-- Button trigger modal -->

    <!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <center>
          <form method="post" action="/user/auth" class="form-signin" role="form">
            <br>
              <label for="inputEmail" class="sr-only">Email</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>
        
              <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required> <br>

              <button class="btn btn-default">Log In</button>
        </form>

        </center>
      </div>
      <br>
        <div class="modal-footer">
      
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signup">Sign Up</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <center>
          <form method="post" action="/user/newuser" class="form-signin" role="form">
            <br>
              <label for="inputEmail" class="sr-only">Username</label>
                <input type="username" id="inputEmail" class="form-control" placeholder="Username" name="uname" required autofocus>
              
              <label for="inputEmail" class="sr-only">Email</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>

              <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

              <label for="inputPassword" class="sr-only">Retype Password</label>
                <input type="password" id="inputPassword" class="form-control" name="retypepassword" placeholder="Retype Password" required> <br>

              <button class="btn btn-default">Sign Up</button>
        </form>

        </center>
      </div>
      <br>
        <div class="modal-footer">
      
          <button type="button" class="btn btn-default" data-dismiss="modal">Log In</button>
  
      </div>
    </div>
  </div>
</div>


     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
    <script src="js/bootstrap.min.js"></script>
  </body>
											<!-- <script>
											if(typeof(Storage) !== "undefined") {
    // Code for localStorage/sessionStorage.

    if(localStorage.getItem("userName") === null){
    	document.getElementById("proofile").innerHTML = "Log In";

    }else{
    	 document.getElementById("proofile").innerHTML = "Profile";

    }
 } else {
    // Sorry! No Web Storage support..
} 

									</script> -->





											
												<div class="modal fade bs-example-modal-sm" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												  <div class="modal-dialog modal-sm">
												    <div class="modal-content">
												      <div class="modal-header">
												        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
												      </div>
												      <div class="modal-body">
												        <center>
												          <form method="post" action="/user/auth" class="form-signin" role="form">
												            <br>
												              <label for="inputEmail" class="sr-only">Email</label>
												                <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>
												        
												              <label for="inputPassword" class="sr-only">Password</label>
												                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required> <br>

												              <button class="btn btn-default">Log In</button>
												        </form>

												        </center>
												      </div>
												      <br>
												        <div class="modal-footer">
												      
												          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signup">Sign Up</button>

												      </div>
												    </div>
												  </div>
												</div>
											</li>
											
											
											
											<li><a href="/about"><img src="img/nav-menu/nav6.jpg" class="img-responsive" alt="" /> About</a></li>

											<% if(!user) { %>

											<li><a id = "proofile" data-toggle="modal" data-target="#login" alt="" /><img src="img/nav-menu/nav5.jpg" class="img-responsive" alt="" onmouseover=""/>Login</a></li>
											<style>
											#proofile{
												cursor: pointer;
											}
											</style>

											<% } %>

											<% if(user) { %>
											<li><a href="/user/logout"><img src="img/nav-menu/nav5.jpg" class="img-responsive" alt="" />Logout</a></li>
											<% } %>
										</ul>
									</div><!-- /.navbar-collapse -->
								</div><!-- /.container-fluid -->
							</nav>
						</div>
					</div>
				</div> <!-- / .container -->
			</div>
			
			<!-- Header End -->
			
			<!-- Banner Start -->
			
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<img class="img-responsive" src="img/crown-white.png" alt="" />
					<!-- Heading -->
					<h2 class="white">
						<%= user.uname %>	
					</h2>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Contact</li>
					</ol>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Banner End -->
			
			
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Contact Us Start -->
				
				<div class="contactus">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<!-- Map holder -->
								<div >
								<img style="height:1000x; width:250px;" src=<%=user.picture%>>
								</div >
								<!--<div class="map-container">
									profile picture image should be here
								</div> -->
							</div>
							<div class="col-md-6">
								<!-- Contact form -->
								<!-- Heading -->
								<h2>Personal Information</h2>

								<div class="contact-form">
									
									<!-- Form -->
									<form role="form">
										<div class="form-group">
											<!-- Form input -->
											<input name="name" readonly id="name" class="form-control" type="text" placeholder="Name" value="<%=user.uname%>"/></input>
										</div>
										<div class="form-group">
											<!-- Form input -->
											<input name="email" readonly id="email" class="form-control" type="email" placeholder="Email" value="<%=user.email%>" /></input>
										</div>
										<div class="form-group">
											<!-- Form text area -->
											<textarea name="bio" readonly id="bio" class="form-control" rows="3" placeholder="Message..."><%if(user.bio){%><%=user.bio%><%}%></textarea>
											
										</div>
										<div>
										<button id="editButton2" type=button onClick="editButton()" value='click here to visit home page'>Edit</button>
										<button hidden id="editButton3" type=button onClick="submitButton()" value='click here to visit home page'>Submit</button>




										</div>
										<!-- Form button -->
									</form>
								</div><!--/ Contact form end -->
							</div>
							<div class="col-md-3">

								<h2>Your Recipes:</h2>
								
								<% recipes.forEach(function(item) {  %>
								<a style="font-size: 20px" href=<%="/recipe/view?rid=" + item.rid %>><%= item.name %></a>
								<br>

								<% }); %>
								<br>
								<button class="btn btn-default"onClick="location.href=/addRecipe">
								<h4><a href="/addrecipe">Add a New Recipe</a></h4></button>

								</div>
							</div>
						</div>
					</div>
				</div>
			




			<script>

				function testFunction(){
					$('#uploadDisplayButton').attr("hidden",true);
					console.log("555");
					var text = $('#fileinput').val();
					console.log(text);
					
					
					$('#uploadContainer').attr("hidden",false);


				}

			</script>

								


				<script>
				function editButton(){
					
					
					var name = document.getElementById("name");
					var email = document.getElementById("email");
					var bio = document.getElementById("bio")
					
					$('#name').attr("readonly",false);
					$('#email').attr("readonly",false);
					$('#bio').attr("readonly",false);

					$('#editButton2').attr("hidden",true);
					$('#editButton3').attr("hidden",false);

					//window.location("google.com");

					//name.innerHTML = "text text"
					



				}

				</script>

				<script type="text/javascript">
				
				function submitButton(){
					
					

					var name = document.getElementById("name");
					var email = document.getElementById("email");
					var bio = document.getElementById("bio")
					
					$('#name').attr("readonly",true);
					$('#email').attr("readonly",true);
					$('#bio').attr("readonly",true);
					$('#editButton3').attr("hidden",true);
					$('#editButton2').attr("hidden",false);

					var userName = document.getElementById('name').value;
					var userEmail = document.getElementById('email').value; 
					var userBio = document.getElementById('bio').value;

					

					var form = document.createElement('form');
					form.setAttribute('method','post');
					form.setAttribute('action','/user/authedit');
					
					var hiddenUname = document.createElement('input');
					hiddenUname.setAttribute('type','hidden');
					hiddenUname.setAttribute('name','uname');
					hiddenUname.setAttribute('value',userName);
					
					var hiddenEmail = document.createElement('input');
					hiddenEmail.setAttribute('type','hidden');
					hiddenEmail.setAttribute('name','email');
					hiddenEmail.setAttribute('value',userEmail);
					
					var hiddenBio = document.createElement('input');
					hiddenBio.setAttribute('type','hidden');
					hiddenBio.setAttribute('name','bio');
					hiddenBio.setAttribute('value',userBio);
					
					form.appendChild(hiddenUname);
					form.appendChild(hiddenEmail);
					form.appendChild(hiddenBio);
					
					form.submit();




					



				}
				</script>



<!-- This is where we display users recipes -->
 

					
				




				
				
							

			<!-- Footer Start -->
			
			<!-- Footer Start -->
<div class ="inner-page padd">
<div class="shopping">
					<div class="container">
						<!-- Shopping items content -->
						<div class="shopping-content">
	<button onclick="testFunction()" id="uploadDisplayButton" name="uploadDisplayButton">Upload a Picture</button>
</div>
</div>
</div>



<div hidden id="uploadContainer" name="uploadContainer" class"uploadContainer">

			<div class="inner-page padd">
				
				<!-- Shopping Start -->
				
				<div class="shopping">
					<div class="container">
						<!-- Shopping items content -->
						<div class="shopping-content">
							<!-- <form method="post" action="/recipe/add" class="form-signin" role="form"> -->
								<div class="recipe-content">
									<br>
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="recipe-item">
												<div class="fileinput fileinput-new" data-provides="fileinput">
						  							
						  							<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 300px;"></div>
						  							<div>
						  								<form method="post" enctype="multipart/form-data" action="/ul/uploadProfileImage">
						    								<span required class="btn btn-default btn-file"><span class="fileinput-new" name="testing">Upload</span><span class="fileinput-exists">Change</span><input type="file" name="files"></span>
						    								<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						    								<button class="btn btn-default">Upload</button>
						    							</form>
						  							</div>
												</div>
											</div>
										</div>	
									</div>
								</div>
								<br>
						</div>
					</div>
				</div>

			</div>
			</div>



			
			

			
				<div class="footer padd">
					<center>
						<div class="logo">
							<img class="img-responsive" src="img/logo.png" alt="" />
							<!-- Heading -->
							<h1>Cook Ups</h1>
						</div>
						<!-- Paragraph -->
						<p>Cooking made easy</p>
						<!-- Paragraph -->
						<p>&copy; Copyright 2014 <a href="#">CookUps</a></p>
					</center>
				</div>
			</div>
			
			<!-- Footer End -->
			
		</div><!-- / Wrapper End -->
		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jasny-bootstrap.min.js"></script>
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Pretty Photo JS -->
		<script src="js/jquery.prettyPhoto.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<!-- JS code for this page -->
		<script>
		
		</script>
	</body>	
</html>
